h1

{

	font: italic bold 26px arial, sans-serif;

	color : black;

	background : Gainsboro;

	border : 5px solid black;

	padding : 20px;

	width : 650px;

	border-radius: 15px;

}

h2

{

	position:relative;

	top:-455px;

	left:720px;

}